.about-section {
    position: relative;
	min-height: 100vh;
	min-width: 100vw; 
	background: linear-gradient(90deg, rgba(11,11,11,0.8), rgba(14,11,15,0.6), rgba(31,10,12,0.5)); /* Define a linear gradient with three colors */

}

.flex-about-me {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.about-me-content {
    width: 70%;
}

.about-me-content h1 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #ffffff;
}

.about-me-content p {
    font-size: 25px;
    font-family: Garamond, serif;
    margin-top: 45px;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

.flex-about-me-picture {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
}

.prog-picture {
    width: 647;
    height: 496;
    border-radius: 100px;
}


.flex-aboutme_and_picture{
	position: absolute;
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 70%; 
}


/* Arrow */
.flex-container {
    position: absolute;
    top: -10px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .arrow-with-tail {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: var(--arrow-color, #C516AE);
  }
  
  .arrow-with-tail::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% - 100px);
    transform: translate(-100%, -50%) rotate(var(--arrow-rotation, 0deg));
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid var(--arrow-color, #C516AE);
  }
  



