.contact-section {
	min-height: 100vh;
	min-width: 100vw; 
	background: linear-gradient(90deg, rgba(11,11,11,0.8), rgba(14,11,15,0.6), rgba(31,10,12,0.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}


.contact-section h1 {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

form {
    margin: 0 auto;
    width: 90rem;
    max-width: 50%;
    min-height: 30%;
    border-radius: 10px;
    background: transparent;
}

.formwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}


textarea, input {
    min-width: 100%;
    max-width: 100%;
    height: 48px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin: 10px;
    padding-left: 1rem;
}

textarea{
    min-height: 3rem;
    max-height: 10rem;
    resize: vertical;
    padding-top: 1rem;

}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="submit"] {
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 48px;
    color: #000;
    background: #fff;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    transform: scale(1.05); /* Increase size on hover */
    background-color: #7a318d; /* Change background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
    transition: ease 0.5s;
}

.btn:active {
    transform: scale(0.9); /* Decrease size when clicked */
    background-color: #3f0e4d; /* Change background color */
    box-shadow: none; /* Remove shadow */
    transition: ease 0.5s;
}


.followme{
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


.follow-arrow-right {
    font-size: 8rem;
    color: #C516AE;
    display: flex;
    z-index: 1;
    justify-content: center;
    margin-top: -3rem;
}

.follow_and_arrow{
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.form_and_follow{
    display: flex;
    flex-direction: column; /* Stack form and followme-content vertically */
    align-items: center; /* Center horizontally */
}

.github-icon{
    font-size: 80px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #551A8B;
}

.gmail-icon{
    font-size: 80px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #551A8B;
}

.linkedin-icon{
    font-size: 80px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #551A8B;
}

.followme-contents{
    display: flex;
    gap: 2px;
}

/* Add these styles for the icon animation */
.follow-icons a {
    transition: all 0.3s ease;
}

.follow-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.follow-icons a:hover {
    transform: scale(1.1); /* Increase size on hover */
    filter: drop-shadow(0 0 3px #fc5252); /* Red color glow */
    transition: ease 0.9s;
}
