nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-top: 1px solid #752483;
    border-bottom: 3px solid #752483;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    min-height: 45px;
}

nav a {
	float: left;
    text-decoration: none;
    color: white;
    font-size: 20px;
	font-family: Garamond, serif;;
    transition: all transform 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 70px;
}

nav a:hover {
    text-decoration: none;
    padding-bottom: 8px;
    transform: translateY(-3px);
    color: rgb(255, 0, 170);
    border-bottom: 2px solid transparent;
    position: relative;
}

nav a:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(236, 19, 73);
    animation: loading 1s forwards;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}



nav a.active {
    border-bottom: 2px solid rgb(236, 19, 73);
    padding-bottom: 8px;
    transform: translateY(-3px);
}


nav a.active:hover {
    border-bottom: 2px solid rgb(236, 19, 73);
    padding-bottom: 8px;
    color: rgb(255, 0, 170);
    transform: translateY(-3px);
}


.nav-button {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(97,22,94,0.6);
	font-weight: bold;
	width: 125px;
	font-size: 15px;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
}

.nav-button:hover::after {
    content: '';
    position: absolute;
    background-color: rgba(185, 29, 138, 0.3);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: ripple 1s infinite;
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}


.nav-logo-text {
    font-weight: normal;
    font-size: 22px;
    font-family: Verdana, sans-serif;
    color: #c86ce4;
    margin-left: 20px;
}

