.project-section {
	position: relative;
	min-height: 100vh;
	min-width: 100vw; 
	background: linear-gradient(90deg, rgba(11,11,11,0.8), rgba(14,11,15,0.6), rgba(31,10,12,0.5)); /* Define a linear gradient with three colors */

}

.project-section h1 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    
}

.project-section p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 40rem;
    display: flex;
    align-content: flex-start;
    line-height: 2rem;
    position: absolute;
    left: 50%;
}


.project-paragraph{
    font-size: 25px;
    font-family: Garamond, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.proj-1st-para{
    display: flex;
    position: absolute;
    top: 15%;
}


.proj-2nd-para{
    display: flex;
    position: absolute;
    top: 45%;
}



.proj-sentence{
    display: flex;
    color: #ffffff;
    position: absolute;
    top: 72%;
    left: 50%;
}

.proj-here {
    color: rgb(209, 115, 206); /* default color */
    cursor: pointer; /* to show it's clickable */
    margin-left: 0.5rem;
    margin-right: 0.5rem;

  }


.proj {
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}


.proj img {
    width: 150px; /* Adjust the width of the images */
    height: auto; /* Maintain aspect ratio */
}

.proj.zoomed img {
    width: 300px; /* Adjust the width of the images when zoomed */
    height: auto; /* Maintain aspect ratio */
}



.flex-projects-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    position: absolute;
    left: 15%;
    top: 20%;
}

.top-images,
.bottom-images {
    display: flex; /* Use flexbox for positioning */
    justify-content: center; /* Center the images horizontally */
    gap: 2rem; /* Adjust spacing between images */
    width: 100%; /* Ensure full width */
    margin: 15px;
}

