.project-section {
    height: 100vh;
	background: linear-gradient(90deg, rgba(11,11,11,0.8), rgba(14,11,15,0.6), rgba(31,10,12,0.5)); /* Define a linear gradient with three colors */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-section h1 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

.arrow-right {
    font-size: 10rem;
    color: #C516AE;
}

.proj_and_arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.project-section p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 40rem;
    display: flex;
    align-content: flex-start;
    line-height: 2rem;
}


.project-paragraph{
    font-size: 25px;
    font-family: Garamond, serif;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

}

.proj-sentence{
    display: flex;
    color: #ffffff;
}

.proj-here {
    color: rgb(230, 113, 226);
    cursor: pointer;
    margin: 0 0.5rem 0 0.5rem;
    text-decoration: underline ;
  }

.hover-text {
    display: none;
    color: white;
    background-color: rgba(9, 165, 255, 0.8);
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 20px;
    width: 10rem;
}

.proj {
    width: 100%;
    height: auto;
}


.proj img {
    width: 150px;
    height: auto;
}

.proj.zoomed img {
    width: 600px;
    height: auto;
}



.flex-projects-pic {
    text-align: center;
}

.title_proj-pic{
    display: block;
    text-align: left;
}

.proj-contents_pics{
    display: flex;
    gap: 5rem;

}