.flex-skill-container{
    text-align: center;
}


.flex-skill-container h1 {
    color: #ffffff;
    font-size: 45px;
    font-family: Georgia, serif;   
}


.flex-skill-list-container{
    font-size: 25px;
    text-align: center;
    display: flex;
    gap: 5rem;
}


.skill-list,
.skill-list2 {
    color: #ffffff;
}

.level {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

.level li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
  }


.skill-html{
    display: flex;
    justify-content: space-between;

}

.skill-css{
    display: flex;
    justify-content: space-between;

}

.skill-js{
    display: flex;
    justify-content: space-between;

}

.skill-java{
    display: flex;
    justify-content: space-between;

}

.skill-c{
    display: flex;
    justify-content: space-between;
}
