body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Set direction to horizontal */
}

::-webkit-scrollbar {
	width: 7px;
	background-color: #000;
}

::-webkit-scrollbar-thumb {
	background-color: #808080; 
	border-radius: 6px; 
}

::-webkit-scrollbar-track {
	background-color: #000;
}






.skills-section {
	background: linear-gradient(90deg, rgba(11,11,11,0.8), rgba(14,11,15,0.6), rgba(31,10,12,0.5)); /* Define a linear gradient with three colors */
	min-height: 1024px; /* Set minimum height */

}

.skills-section h2 {
    font-size: 45px; /* Adjust the font size */
	color: #ffffff; /* Adjust the font color */

}

.skills-section p {
    font-size: 25px; /* Adjust the font size */
	color: #ffffff; /* Adjust the font color */
}




.work-section {
	background: linear-gradient(90deg, rgba(11,11,11,0.8), rgba(14,11,15,0.6), rgba(31,10,12,0.5)); /* Define a linear gradient with three colors */
	min-height: 1024px; /* Set minimum height */

}

.work-section h2 {
    font-size: 45px; /* Adjust the font size */
	color: #ffffff; /* Adjust the font color */

}

.work-section p {
    font-size: 25px; /* Adjust the font size */
	color: #ffffff; /* Adjust the font color */
}




.contact-section {
    min-height: 1024px; /* Set minimum height */
    background: linear-gradient(90deg, rgba(11,11,11,0.8), rgba(14,11,15,0.6), rgba(31,10,12,0.5)); /* Define a linear gradient with three colors */

}


.contact-section h2 {
    font-size: 45px; /* Adjust the font size */
	color: #ffffff; /* Adjust the font color */

}

.contact-section p {
    font-size: 25px; /* Adjust the font size */
	color: #ffffff; /* Adjust the font color */
}
