body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: #000;
}

::-webkit-scrollbar-thumb {
	background-color: #808080; 
	border-radius: 6px; 
}

::-webkit-scrollbar-track {
	background-color: #000;
}


.work-section {
	background: linear-gradient(90deg, rgba(11,11,11,0.8), rgba(14,11,15,0.6), rgba(31,10,12,0.5));
	min-height: 1024px;

}

.work-section h2 {
    font-size: 45px;
	color: #ffffff;

}

.work-section p {
    font-size: 25px;
	color: #ffffff;
}


.contact-section {
    min-height: 1024px;
    background: linear-gradient(90deg, rgba(11,11,11,0.8), rgba(14,11,15,0.6), rgba(31,10,12,0.5));

}


.contact-section h2 {
    font-size: 45px;
	color: #ffffff;

}

.contact-section p {
    font-size: 25px;
	color: #ffffff;
}
